@page "/"
@namespace AtiDocs.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AtiDocs</title>
    <base href="~/" />
    <link href="css/normalize.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="_content/OnlyAti.Blazor.ToastNotify/ToastNotify.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
    <script src="js/base.js"></script>
    <script src="js/Custom.js"></script>
</body>
</html>
