@page "/b/{folderSlug}/{articleSlug}"

<div class="header-bar" id="header-bar-bar">
    <div class="header-bar-logo">
        <img src="img/Web_Logo_purple.png" alt="onlyati_logo" />
    </div>
    <div class="header-bar-brandname" id="header-brandname">
        <span>OnlyAti Services</span>
    </div>
    <div class="header-bar-title" id="header-bar-bar-title">
        @if (content?.Title != null)
        {
            <span>@content.Title</span>
        }
    </div>
    <div class="header-bar-back" @onclick="@(() => NavManager.NavigateTo("/"))">
        <img src="icons/error_sign_white.png" alt="back_icon" />
        <p>Close</p>
    </div>
</div>

<h1>@content?.Title</h1>

<div class="browse-site-content">
    @((MarkupString)contentHtml)
</div>
