@inherits LayoutComponentBase

<header>
    <navbar class="navbar">
        <p class="navbar-title">OnlyAti Services - AtiDocs</p>
        <ul class="navbar-menu">
            <li><a href="/e">Management</a></li>
        </ul>
    </navbar>
</header>
<section class="main-content">
    @Body
</section>

<ToastNotifyView ToastController="@ToastController" />
